* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
}

section {
  padding: 10rem;
}

/* ----------- */

/* Nav Style */

/* ----------- */

nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container li {
  display: inline-block;
  margin-right: 5rem;
  transition: 0.3s;
}

a {
  font-weight: 600;
  font-size: 2.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

img {
  width: 20rem;
}

.btn-container li:hover {
  padding-bottom: 0.5rem;
  border-bottom: 2.5px #e9204f solid;
}

/* ----------- */

/* Header Style */

/* ----------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../img/Code\ Zero\ Vol.1\ LordSeez\ 1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  margin-left: 10rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

h1, h2 {
  text-transform: uppercase;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem;
  text-transform: uppercase;
  border: 3px #9B9B9B solid;
  border-radius: 2px;
  text-align: center;
  transition: 0.3s;
}

.details {
  color: #9B9B9B;
  width: 29rem;
}

.details:hover {
  border-color: #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.artist-details {
  width: 30rem;
  margin-bottom: 1.5rem;
}

/* ----------- */

/* Section-event Style */

/* ----------- */

.section-event {
  /* background-color: #181818; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/73298295_961488927565006_606185787167342592_o.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.event-container {
  display: flex;
  /* justify-content: space-evenly; */
}

.event-box {
  color: #f5f5f5;
  padding: 5rem;
  border: 1px #fff solid;
  flex-basis: 50%;
}

.event-box i {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.event-box p {
  margin-bottom: 4rem;
}

.event-box a {
  float: right;
  width: 20rem;
}

.event-box a:hover {
  color: #e9204f;
}

h3 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #e9204f;
}

/* ----------- */

/* Section-artist Style */

/* ----------- */

.section-artist {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/artist-background.jpg");
  /* background-position: center; */
  background-size: cover;
  background-attachment: fixed;
}

.section-artist-container {
  display: flex;
}

.artist {
  border: 2px solid #fff;
  height: 40rem;
  flex-basis: 20%;
  padding: 3rem 2rem;
  text-transform: capitalize;
}

.artist:not(:last-of-type) {
  margin-right: 10rem;
}

.artist>a {
  display: block;
  text-align: center;
  width: 25rem;
  height: 30rem;
  margin: 0 auto 2rem;
}

#lucas {
  background-image: url("../img/lucas.JPG");
  background-position: center;
  background-size: cover;
}

#jpular {
  background-image: url(../img/jpular.JPG);
  background-position: center;
  background-size: cover;
}

.artist-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

/* ----------- */

/* Section-about Style */

/* ----------- */

.section-about {
  background-color: #181818;
  height: 100vh;
}

.section-about-header {
  font-size: 5rem;
  text-align: center;
}