* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #fff;
}

body {
  font-size: 1.6rem; 
}

/* ----------- */
/* Header Style */
/* ----------- */

nav {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 1rem 6rem;
  /* background-color: #000; */
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container li{
  display: inline-block;
}

a {
  font-weight: bold;
  font-size: 2.2rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

img {
  width: 15rem;
  height: 8rem;
}

li, #logo {
  margin-right: 10rem;
}

/* ----------- */
/* Header Style */
/* ----------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/Ineffa\ Lucas\ -\ Code\ Zero\ 5.jpg);
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
}

#hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  margin-left: 10rem;
}

h1 {
  font-size: 7rem;
  /* margin-bottom: 0.5rem; */
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h1, h2 {
  text-transform: uppercase;
}

.details {
  padding: 1rem;
  text-transform: uppercase;
  border: 3px #9B9B9B solid;
  border-radius: 2px;
  color: #9B9B9B;
  width: 23rem;
  text-align: center;
  transition: 0.3s;
}

.details:hover {
  transition: 0.3s;
  border-color: #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}